.api-item {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    box-shadow: 0 20px 53px -30px rgba(#5F66AD, .57);
    position: relative;
    min-height: 210px;
    overflow: hidden;
    .item-icon {
      width: 64px;
      height: 64px;
      min-width: 64px;
      display: grid;
      place-items: center;
      margin-right: 25px;
    }
    .item-detail {
      h4 {
        font-size: 22px;
        color: #151926;
        margin-bottom: 5px;
      }
      .item-category {
        font-size: 14px;
        color: rgba(#151926, .7);
        margin-bottom: 10px;
      }
      .item-description {
        font-size: 16px;
        color: #151926;
        transition: 300ms opacity;
      }
    }
    .item-hover {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 88px;
      background: #F9FBFC;
      display: flex;
      align-items: center;
      padding: 0 21px;
      transform: translateY(100%);
      transition: 300ms transform;
      a, button {
        flex: 1;
        margin: 0 9px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 16px;
      }
      button {
        background: #fff;
        color: #141A31;
        cursor: pointer;
        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
      a {
        background: #141A31;
        color: #fff;
        svg {
          width: 24px;
          height: 24px;
          margin-left: 5px;
        }
      }
    }
    &:hover {
      .item-detail .item-description {
        opacity: 0;
      }
      .item-hover {
        transform: translateY(0);
      }
    }
  }